@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Variables */

$roboto: "Roboto", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-container {
  width: 100%;
  & .header-container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 18px;
    &__left {
      display: flex;
      align-items: center;
      & .header__menu-container--left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        margin-right: 4px;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
        & svg {
          width: 26px;
          height: 26px;
        }
      }
      .header__logo-container {
        & img {
          width: 80px;
          margin-top: 6px;
        }
      }
      & span {
        font-family: $roboto;
        font-size: 22px;
        vertical-align: middle;
        padding-left: 4px;
        color: #5f6368;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 16px;
      .header__profile-container {
        & img {
          width: 32px;
          height: 32px;
          border-radius: 25px;
        }
      }
    }
  }
  &__inner {
    width: 83%;
    margin: 0 auto;
    .navigation-container {
      padding-top: 20px;
      .navigation-menu {
        display: flex;
        list-style: none;
        gap: 10px;
        & a {
          color: rgb(25, 103, 210);
          text-decoration: none;
          font-family: $roboto;
          font-size: 1.4rem;
          letter-spacing: 0.0107142857em;
          font-weight: 500;
          border: 1px solid #d3d3d3;
          border-radius: 2px;
          padding: 8px 10px;
          &:hover {
            color: #1750a8;
          }
          & .bi {
            margin-right: 6px;
          }
        }
      }
    }
    footer {
      max-width: 400px;
      margin: 70px auto;
      font-size: 30px;
      display: flex;
      justify-content: center;
      gap: 60px;
      & .bi {
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #d8d8d8;
        color: #757575;
      }
      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      & p {
        font-size: 14px;
        font-family: $roboto;
        color: #757575;
        margin-top: 8px;
      }
    }
  }
  .textarea-container {
    display: flex;
    gap: 10px;
    margin-top: 18px;
    &__inner {
      width: 50%;
      position: relative;
      &--language {
        &-list {
          display: flex;
          list-style: none;
          font-family: $roboto;
          font-size: 1.4rem;
          .language--list__item {
            padding: 16px 8px;
            display: inline-block;
            cursor: pointer;
            &:hover {
              background-color: #f7f8f8;
            }
          }
          .arrow-item {
            margin-left: 22px;
            border-radius: 50%;
            padding: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .bi-arrow-left-right {
        position: absolute;
        top: 16px;
        right: -12px;
        font-size: 16px;
      }
    }
    &__left {
      width: 100%;
      min-height: 170px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 20px 20px 20px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .icons-container {
        display: flex;
        justify-content: space-between;
        &__inner {
          display: flex;
          color: #9a9a9a;
          align-items: center;
        }
        p {
          font-family: $roboto;
          font-size: 14px;
          margin-right: 24px;
        }
        .bi-mic-fill {
          font-size: 16px;
        }
        .bi-keyboard {
          font-size: 18px;
          margin-right: 10px;
        }
        .bi-caret-down-fill {
          font-size: 8px;
          align-self: flex-start;
          margin-top: 10px;
        }
        .bi-mic-fill {
          color: #5f6368;
          padding: 10px;
          border-radius: 50%;
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
      & > textarea {
        width: 100%;
        min-height: 49px;
        border: none;
        resize: none;
        outline: none;
        font-size: 24px;
        font-family: $roboto;
        color: #5f6368;
      }
    }
    &__right {
      width: 100%;
      min-height: 170px;
      background-color: #f5f5f5;
      border-radius: 8px;
      padding: 20px 58px 20px 24px;
      &--text {
        font-size: 24px;
        font-family: $roboto;
        color: #5f6368;
      }
    }
    .language-right {
      padding-left: 20px;
    }
    .send-feedback {
      a {
        text-align: right;
        font-family: $roboto;
        font-size: 12px;
        font-style: italic;
        color: #5f6368;
        margin-top: 6px;
        text-decoration: none;
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
